* {
  margin: 0;
  padding: 0;
}

P {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#imagenLogo {
  height: 120px;
  width: 120px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1000px;
  margin-top: 50px;
}

.rojo {
  color: red;
}

.verde {
  color: green;
}

.azul {
  color: blue;
}

.amarillo {
  color: yellow;
}

body {
  background-color: rgb(247, 247, 247);
}

.bodyUbicacion {
  background-color: rgb(30, 30, 30);
}

.navbarTextoColor {
  background-color: rgb(247, 247, 247);
}

.navbarTextoColor a, .navbarTextoColor a:hover {
  color: black;
  text-decoration: none;
}

.mapaContenedorFondo {
  background-color: rgb(30, 30, 30);
}

.boxs, .merxall {
  color: yellow;
  background-color: rgb(30, 35, 37);
  border-color: green;
  border-radius: 5px;
  border-style: dashed;
}

.merxall {
  border-color: green;
  border-style: solid;
}

.mainLogoColorFondo {
  background-color: rgb(30, 30, 30);
  background-image: url(/imagenes/bg.jpg);
}
.mainLogoColorFondo h3 {
  color: white;
}

.boton, .boton:hover {
  background-color: rgb(30, 30, 30);
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(30, 30, 30);
  text-decoration: none;
  color: white;
  text-align: center;
  justify-content: center;
  width: 200px;
}

.botonForm, .botonForm:hover {
  background-color: rgb(30, 30, 30);
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(30, 30, 30);
  text-decoration: none;
  color: white;
  margin-top: 5px;
}

.indexLogoTexto {
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  color: white;
}
.indexLogoTexto p {
  font-size: 25px;
  margin-top: 10px;
  color: rgb(192, 189, 189);
}

.indexCardTexto {
  text-align: center;
}

.indexCardDeck {
  justify-content: space-around;
  display: none;
  text-align: center;
  background-color: rgb(30, 30, 30);
  margin: 0px;
}

.indexCardDeckRow {
  justify-content: space-between;
}

.indexCard01 {
  width: 18rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.indexCard02 {
  width: 18rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.indexCard03 {
  width: 16.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.indexCard01titulo {
  height: 29px;
  font-weight: 700;
  text-align: center;
}

.indexCard02titulo {
  height: 29px;
  font-weight: 700;
  text-align: center;
}

.indexCard03titulo {
  height: 23px;
  font-weight: 700;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #imagenLogo {
    height: 120px;
    width: 120px;
  }

  .indexCardDeck {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    margin-top: 180px;
  }

  #indexCardDeckRow {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .indexCard03 {
    width: 18rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .indexCard01 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .ubicacionMapaIframeSrc {
    height: 400px;
  }
}
.Footer {
  background-color: rgb(184, 184, 184);
}
.Footer a {
  text-decoration: none;
  color: black;
}

.ubicacionMapaTexto {
  margin-top: 15px;
  color: white;
  text-align: center;
}

.ubicacionMapaIframe {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  justify-content: center;
  display: flex;
}

.proyectoContenedor {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.proyectoCard {
  width: 18rem;
  margin-bottom: 5px;
  border: 30px solid white;
  border-radius: 40px;
}

.proyectoContenedorPadre {
  background-color: rgb(30, 30, 30);
}

.proyectoCardDeck {
  margin-top: 150px;
  margin-bottom: 25px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  border: 10px solid white;
  padding: 20px;
  border-radius: 40px;
  background-image: url(/imagenes/fondoprod.jpeg);
  background-position-y: 1550px;
  background-size: cover;
}

.proyectoTextoTitulo {
  margin-top: 15px;
  font-size: 45px;
  color: white;
  text-align: center;
}

.proyectoTextoEncarga {
  font-size: 30px;
  text-align: center;
  color: white;
}

.faqListaContenedor {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.faqListaTitulo {
  margin-top: 15px;
  text-align: center;
  color: white;
}

.faqListaItems {
  margin-top: 20px;
  margin-bottom: 25px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.contacto1FormBotonEnviar {
  margin-top: 10px;
  margin-bottom: 20px;
}

.contacto1CardDeck {
  width: 500px;
  margin-top: 10px;
}

.contacto1Card01 {
  width: 18rem;
}

.contactoCardDeck {
  width: 602px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.mainLogoColorFondoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactoCard01 {
  width: 18rem;
}
.contactoCard01 img {
  height: 220px;
  width: 600px;
}

.contactoCardDeckContenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  margin-bottom: 20px;
}

.contactoCard01Titulo {
  text-align: center;
  font-weight: 500;
}

.contactoCard01Texto {
  text-align: center;
}

.FormTitulo {
  text-align: center;
}

.FormTexto {
  text-align: center;
}

.botonFormPos {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.faqListaContenedorPadre {
  background-color: rgb(30, 30, 30);
}

footer {
  text-align: center;
}

.contactoCardDeckContenedorPadre {
  background-color: rgb(30, 30, 30);
}

.indexArticulo1 {
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: row;
  height: 500px;
}
.indexArticulo1 h1 {
  font-size: 80px;
  margin-left: 40px;
}

.faqArticulo1 {
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: row;
  height: 500px;
}
.faqArticulo1 h1 {
  font-size: 80px;
  margin-left: 40px;
}

#faqImagen {
  margin-left: -12px;
  height: 500px;
  width: 650px;
}

.indexArticulo1Texto {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  -webkit-animation: entraIzquierda 0.8s normal 0s;
          animation: entraIzquierda 0.8s normal 0s;
}
.indexArticulo1Texto p {
  font-size: 20px;
}
.indexArticulo1Texto p a {
  text-decoration: none;
}

#imagenIndex {
  margin-left: -12px;
  height: 500px;
  width: 650px;
}

#recycleFaq {
  height: 100px;
  width: 100px;
}

.faq1Texto {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  -webkit-animation: entraIzquierda 0.8s normal 0s;
          animation: entraIzquierda 0.8s normal 0s;
  margin-left: 75px;
}

.faq1TextoMobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .faqArticulo1 {
    background-color: rgb(247, 247, 247);
    margin-bottom: px;
    display: flex;
    flex-direction: column;
    padding: -12px;
  }
  .faqArticulo1 h1 {
    font-size: 44px;
  }

  #faqImagen {
    height: 300px;
    width: 100%;
    max-width: 100%;
    margin: 0px;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
  }

  .faq1Texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    -webkit-animation: entraIzquierda 0.8s normal 0s;
            animation: entraIzquierda 0.8s normal 0s;
    margin-left: -20px;
  }
  .faq1Texto h1 {
    font-size: 20px;
  }

  .indexArticulo1 {
    background-color: rgb(247, 247, 247);
    margin-bottom: -160px;
    display: flex;
    flex-direction: column;
  }
  .indexArticulo1 h1 {
    font-size: 44px;
  }

  #imagenIndex {
    height: 300px;
    width: 100%;
    max-width: 100%;
    margin: 0px;
    margin-top: 20px;
    border-radius: 20px;
  }

  .indexArticulo1Texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    -webkit-animation: entraIzquierda 0.8s normal 0s;
            animation: entraIzquierda 0.8s normal 0s;
  }
  .indexArticulo1Texto h1 {
    font-size: 30px;
    margin-top: 40px;
    margin-right: 20px;
  }

  .indexFlipCardContenedor {
    display: none;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
    padding: 0px;
    flex-direction: column;
    height: 0px;
  }
}
@-webkit-keyframes entraDerecha {
  0% {
    transform: translate(-1000%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes entraDerecha {
  0% {
    transform: translate(-1000%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.indexFlipCardContenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30);
}

.flipCard1, .flipCard2, .flipCard3 {
  -webkit-animation: entraDerecha 0.6s normal 0s;
          animation: entraDerecha 0.6s normal 0s;
  margin: 20px;
}

@-webkit-keyframes entraIzquierda {
  0% {
    transform: translate(1000%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes entraIzquierda {
  0% {
    transform: translate(1000%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 250px;
  border: 0px solid rgb(247, 247, 247);
  perspective: 1000px;
  border-radius: 5px;
}

.flip-card-contenido {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-contenido {
  transform: rotateY(180deg);
}

.flip-card-frente, .flip-card-atras {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-atras {
  background-color: rgb(247, 247, 247);
  border: 1px solid;
  border-radius: 40px;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.flipCardImagen {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 40px;
}

.ubicacionDir {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.mapaContenedorFondo {
  color: rec;
  -webkit-animation: abajo 0.5s normal 1;
          animation: abajo 0.5s normal 1;
}

@-webkit-keyframes abajo {
  0% {
    transform: translateY(-1000%, 0);
  }
  100% {
    transform: translateY(0%, 0);
  }
}

@keyframes abajo {
  0% {
    transform: translateY(-1000%, 0);
  }
  100% {
    transform: translateY(0%, 0);
  }
}
#proyectoBaldeTag {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#proyectoBaldeTag img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1100px;
  height: 470px;
}

#baldeTag {
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  #proyectoBaldeTag img {
    width: 100vw;
    height: 280px;
  }
}
#alisLogo {
  width: 500px;
  margin-top: 40px;
  border: 10px solid white;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  #alisLogo {
    width: 305px;
    margin-top: 20px;
    border: 5px solid white;
    border-radius: 5px;
  }
}
.flipCardAtras {
  align-items: center;
}

#alisContacto {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=indexestilo.css.map */