
$colorAzulArticle: blue;
$colorBorde: red;


* {
    margin: 0;
    padding: 0;
}




#imagenLogo {
    height: 200px;
    width: 200px;
    border: 1px solid rgb(218, 83, 83);
    border-radius: 1000px;
}

section {
    height: 400px;
    width: 100%;
    background-color: rgb(74, 72, 72);
    color: rgb(192, 42, 42);
    text-align: center;
    
    article{
        height: 200px;
        background-color: $colorAzulArticle;
        font-size: 34px;

        p {
            color: black;
        }
        
    }
}


$colors: (
rojo: red,
verde: green,
azul: blue,
amarillo: yellow,
);

@each $name, $color in $colors {
  .#{$name} {
    color: $color;
  }
}

@mixin colores ($color, $bcolor, $bordercolor, $borderrad)
{
    color: $color;
    background-color: $bcolor;
    border-color: $bordercolor;
    border-radius: $borderrad;
}

.boxs {
    @include colores(yellow, rgb(30, 35, 37), green, 5px);
    border-style: dashed;
}
    

.merxall {
    @extend .boxs;
    border-color: map-get($colors, verde);
    border-style: solid;
}

